.App {
  text-align: center;
}
.App .pagination{
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.App .pagination li{
  margin-right: 10px;

}
.App .pagination .active a{
  text-decoration: none;
}
